<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="cointainer mt-5" id='app'>
        <h1>{{titulo}}</h1>

        <input type="text" class="form-control my-3" v-model="nuevoMensaje" v-on:keyup.enter="agregarMensaje">
        <button class="btn btn-primary" @click="agregarMensaje">Agregar</button>

        <h1>{{nuevoMensaje}}</h1>
        
        
    <div class="mt-3" v-for="(item, index) of mensajes">

        <div role="alert" 
        :class="['alert','alert-success']">
          <div class="d-flex justify-content-between align-items-center">
  
            <div>
              {{index}} - {{item.nombre}} - {{item.sinParentesis}} - {{item.invertido}}
            </div>
            
  
          </div>
        </div>
  
      </div
 


    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>

</body>
</html>